body.blog{

  #wrapper {
    padding-top: 0px;
  }
  #left-column {
    .imageFeatured {
      width: 100%;
    }
  }

  #content-wrapper {
    margin-top: 50px;
  }
}




.posts-container {
  /*
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-block: 2rem;
  gap: 2rem;
  */

  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 1200px;

  img.card__image {
    //max-width: 100%;
    //display: block;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    height: 232px;
    object-fit: cover;
    /*
    float:left;
    */
  }

  .card {
    /*    display: flex;
        flex-direction: column;*/
    display: inline;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);

  }
  .card__body {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    p {
      text-align: justify;
      margin-bottom: 0;
      min-height: 72px;
    }
  }

  .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
  }

  .tag + .tag {
    margin-left: .5em;
  }

  .tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
  }

  .tag-brown {
    background: #570101;
    background: linear-gradient(to bottom, #5e4b36, rgba(144, 98, 45, 0.41));
    color: #fafafa;
  }

  .tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
  }

  .card__body h4 {
    font-size: 1.1rem;
    /*text-transform: uppercase;*/
    height: 50px;
    margin-bottom: 0;
  }

  .card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
  }

  .user {
    width: 100%;
    gap: .5rem;
  }

  .user__image {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    object-fit: cover;
    float:left;
    margin-right: 10px;
  }

  .user__info > small {
    color: #666;
  }

  .user__info > h5 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 0.75rem;
  }
}